bin\Debug
obj
todo
fmodex.dll
libfreetype-6.dll
libjpeg-9.dll
libpng16-16.dll
libtiff-5.dll
libwebp-4.dll
SDL2.dll
SDL2_image.dll
SDL2_ttf.dll
shoot-em-up.cbp
shoot-em-up.depend
shoot-em-up.layout
zlib1.dll